
# This works for Ricc in conjuctions with `gaic`
layout ricc_gcloud

echo "PROJECT_ID: $PROJECT_ID"

# created
# https://console.cloud.google.com/artifacts/docker/palladius-genai/europe-west1/gemini-chat?project=palladius-genai
